.quora {
    width: 100%;
    min-width: fit-content;

}


.quora__contents {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    background-color: rgba(0, 0, 0, 0.068);
    min-width: fit-content;
    width: 100%;
 

}

.quora__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0rem 1rem;
  
}